# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode
*.xcuserdata
*.xcuserstate
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.xcscmblueprint

# Swift Package Manager
.build/
Packages/

# Arduino
*.tmp
*.bak
*.swp
